/*body {
    margin: 0;
    padding: 0;
}*/

.body-content {
    margin-top: 72px; /* This is probably here to fix the problem caused by the navbar-header css class. */
}

.body-content div {
    margin-top: 12px;
    margin-bottom: 10px;
}

body.div.div.ul.span{
    font-size: 20px
}

.dot {
    display: inline-block;
}

.dot-wrapper {
    text-align: right;
}

/*.search-box{
    position: absolute;
    top: 21%;
    left: 70%;
    transform: translate(-50%,-50%);
    /*background: #2f3640;*/
   /* height: 70px;
    border-radius: 100px;
    padding: 20px;
}

.search-btn {
    color: black;
    float: right;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: right;
    align-items:right;
}

.search-txt {
    background: none;
    float: right;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
}*/


div.dot-wrapper input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

div.dot-wrapper button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

div.dot-wrapper button:hover {
  background: #0b7dda;
}

/* Clear floats */
div.dot-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: black;
    text-align: left;
}

li {
    font-family;
    font-size:20px;
}

strong {
    font-size:40px;
}

em {
    font-size:50px;
}

/*
#g-search-button {
  display: inline-block;
  width: 160px;
  height: 16px;
  position: relative;
  left: -22px;
  top: 3px;

  background-color: black;  /* Replace with your own image */
/*}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

table.job-listing td:first-child {
    font-weight: bold;
}

table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}

p {
    vertical-align: top;
    margin-left: 30px;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

div.job-listing {
    border: 1px solid #e4e4e4;
    width: 80%;
    background-color: #e4e4e4;
}

body {
        margin: 0;
        padding: 0;
        background: #00a08d;
      }
      .search-box {
        position: absolute;
        left: 70%;
        transform: translate(-50%, -50%);
        background: #666666;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        width: 200px;
      }
      .search-box:hover > .search-txt {
        width: 240px;
        padding: 0 6px;
      }
      .search-box:hover > .search-btn {
        background: white;
        color: black;
      }
      .search-btn {
        color: #eeeeee;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #2f3640;
        display: flex;
        justify-content: center;
        align-items: right;
        transition: 0.4s;
        color: white;
        cursor: pointer;
        text-decoration: none;
      }
      .search-btn > i {
        font-size: 20px;
      }
      .search-txt {
        border: none;
        background: none;
        outline: none;
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 0px;
        font-weight: bold;
      }
    }*/