<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <h1 th:href="@{/css/techjobs.css}">Welcome, Baby's Shop!</h1>

    <div th:replace="fragments :: page-header"></div>

    <div class="body-content">
        <div>
            <img src="/image/baby/baby1.webp" style="width:500px;height:300px; margin-left:190px">
            <img src="/image/baby/baby2.webp" style="width:500px;height:300px; margin-left:40px">
        </div>
        <div>
            <img src="/image/baby/baby3.webp" style="width:350px;height:200px; margin-left:150px">
            <img src="/image/baby/baby4.webp" style="width:350px;height:200px; margin-left:40px">
            <img src="/image/baby/baby5.webp" style="width:350px;height:200px; margin-left:40px">
        </div>
        <div>
            <img src="/image/baby/baby6.webp" style="width:350px;height:200px; margin-left:150px">
            <img src="/image/baby/baby7.webp" style="width:350px;height:200px; margin-left:40px">
            <img src="/image/baby/baby8.webp" style="width:350px;height:200px; margin-left:40px">
        </div>
        <div>

        </div>
    </div>

</body>
</html>