<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function showSnackbar(result) {
          var x = document.getElementById("snackbar");
          x.className = "show";
          $("#snackbar").text(result);
          setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
        }
    </script>
    <title th:text="'Shoppingclothing' + ${title == null ? '' : ' :: ' + title}">Shopping Clothing</title>
</head>

<body>
    <div th:fragment="page-header">
        <div id="snackbar"></div>
        <div style="margin-left:50px">
            <a th:href="@{/}" ><strong>Shopping</strong><em>Clothing</em></a>
        </div>
        <div>
            <div style="margin-left:600px">
                <ul class="navbar-nav">
                    <a th:href="@{/man}" class="nav-item">Man</a>
                    <a th:href="@{/woman}" class="nav-item">Woman</a>
                    <a th:href="@{/baby}" class="nav-item">Baby</a>
                    <a th:href="@{/boy}" class="nav-item">Boy</a>
                    <a th:href="@{/girl}" class="nav-item">Girl</a>
                </ul>
            </div>
        </div>
        <div>
            <div class="search-item a">
                <form class="example" method="post" action="/doSearch">
                    <input class="example-one" type="text" placeholder="Type to search" name="search" id="search">
                    <button class="example-two" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="search-item b">
                <a th:href="@{/shoppingcart}">
                    <i class="fa fa-shopping-cart" style="font-size:36px; margin:10px"></i>
                </a>
                <a th:href="@{/login}">
                    <i class="fa fa-user icon" style="font-size:36px; margin:10px"></i>
                </a>
                <a href="/logout" >Log Out</a>
            </div>
        </div>
    </div>
<div th:fragment="yang">
    <div class="product-item a">
        <img th:src="${'/image/' + product.product_line + '/' + product.image_file_name}" style="width:500px;height:300px; margin-left:190px">
    </div>
    <div class="product-item b">
        <!--            th:each="product : ${products}">-->
        <div th:text="${'Brand: ' + product.brand}"></div>
        <div th:text="${'Category: ' + product.category}"></div>
        <div th:text="${'Size: ' + product.size}"></div>
        <div th:text="${'Price: $' + product.price}"></div>
    </div>
</div>
</body>
</html>

