<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="images/favicon.png">

    <title th:text="'Shoppingclothing' + ${title == null ? '' : ' :: ' + title}">Shopping Clothing</title>
</head>

<body>

<!--<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">-->
    <div th:fragment="page-header">
        <div style="margin-left:50px">
            <a th:href="@{/}" ><strong>Shopping</strong><em>Clothing</em></a>
        </div>
        <div>
            <div style="margin-left:600px">
                <ul>
                    <a th:href="@{/man}" class="navbar">Man</a>
                    <a th:href="@{/woman}" class="navbar">Woman</a>
                    <a th:href="@{/baby}" class="navbar">Baby</a>
                    <a th:href="@{/boy}" class="navbar">Boy</a>
                    <a th:href="@{/girl}" class="navbar">Girl</a>
                </ul>
            </div>
        </div>
        <div>
<!--            <input type="text" name="name" placeholder="Type to search" style="margin-left:1000px" class="searchbox"/>-->
<!--            <a type="submit" th:href="@{/searchbtn}" class="searchicon">-->
<!--                <i class="fa fa-search"></i>-->
<!--            </a>-->
            <div class="search-item a">
                <form class="example" action="action_page.php">
                    <input class="example-one" type="text" placeholder="Type to search" name="search">
                    <button class="example-two" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="search-item b">
                <a th:href="@{/shoppingcart}">
                    <i class="fa fa-shopping-cart" style="font-size:36px; margin:10px"></i>
                </a>
                <a th:href="@{/login}">
                    <i class="fa fa-user icon" style="font-size:36px; margin:10px"></i>
                </a>
            </div>
        </div>

    </div>
</body>
</html>

