<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <h1 th:href="@{/css/techjobs.css}">Welcome, Girl's Shop!</h1>

    <div th:replace="fragments :: page-header"></div>

    <div class="body-content">
        <div>
            <div class="index-item-first a">
                <a th:href="@{/product/girl/Suit}">
                    <img src="/image/girl/girl1.webp" style="width:500px;height:300px; margin-left:190px">
                </a>
                <div class="index-item-first-one">
                    <div>Suit</div>
                </div>
            </div>
            <div class="index-item-first b">
                <a th:href="@{/product/girl/T-Shirts}">
                    <img src="/image/girl/girl2.webp" style="width:500px;height:300px; margin-left:40px">
                </a>
                <div class="index-item-first-two">
                    <div>T-Shirts</div>
                </div>
            </div>
        </div>
        <div>
            <div class="index-item-second a">
                <a th:href="@{/product/girl/Long Sleeves}">
                    <img src="/image/girl/girl3.webp" style="width:350px;height:200px; margin-left:150px">
                </a>
                <div class="index-item-second-one">
                    <div>LongSleeves</div>
                </div>
            </div>
            <div class="index-item-second b">
                <a th:href="@{/product/girl/Sweat Shirts}">
                    <img src="/image/girl/girl4.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-second-two">
                    <div>Sweatshirts</div>
                </div>
            </div>
            <div class="index-item-second c">
                <a th:href="@{/product/girl/Sport Shirts}">
                    <img src="/image/girl/girl5.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-second-three">
                    <div>Sportshirts</div>
                </div>
            </div>
        </div>
        <div>
            <div class="index-item-third a">
                <a th:href="@{/product/girl/Polo}">
                    <img src="/image/girl/girl6.webp" style="width:350px;height:200px; margin-left:150px">
                </a>
                <div class="index-item-third-one">
                    <div>Polo</div>
                </div>
            </div>
            <div class="index-item-third b">
                <a th:href="@{/product/girl/V-Neck}">
                    <img src="/image/girl/girl7.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-third-two">
                    <div>V-Neck</div>
                </div>
            </div>
            <div class="index-item-third c">
                <a th:href="@{/product/girl/Pants}">
                    <img src="/image/girl/girl8.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-third-three">
                    <div>Pants</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>