<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <h1 th:href="@{/css/techjobs.css}">Welcome, Girl's Shop!</h1>

    <div th:replace="fragments :: page-header"></div>

    <div class="body-content">
        <div>
            <div class="index-item-first a">
                <a th:href="girl1">
                    <img src="/image/girl/girl1.webp" style="width:500px;height:300px; margin-left:190px">
                </a>
                <div class="index-item-first-one">
                    <div>Brand:</div>
                    <div>Category:</div>
                    <div>Size:</div>
                    <div>Price:</div>
                </div>
            </div>
            <div class="index-item-first b">
                <a th:href="girl2">
                    <img src="/image/girl/girl2.webp" style="width:500px;height:300px; margin-left:40px">
                </a>
                <div class="index-item-first-two">
                    <div>Brand:</div>
                    <div>Category:</div>
                    <div>Size:</div>
                    <div>Price:</div>
                </div>
            </div>
        </div>
        <div>
            <div class="index-item-second a">
                <a th:href="girl3">
                    <img src="/image/girl/girl3.webp" style="width:350px;height:200px; margin-left:150px">
                </a>
                <div class="index-item-second-one">
                    <div>Brand:</div>
                    <div>Category:</div>
                    <div>Size:</div>
                    <div>Price:</div>
                </div>
            </div>
            <div class="index-item-second b">
                <a th:href="girl4">
                    <img src="/image/girl/girl4.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-second-two">
                    <div>Brand:</div>
                    <div>Category:</div>
                    <div>Size:</div>
                    <div>Price:</div>
                </div>
            </div>
            <div class="index-item-second c">
                <a th:href="girl5">
                    <img src="/image/girl/girl5.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-second-three">
                    <div>Brand:</div>
                    <div>Category:</div>
                    <div>Size:</div>
                    <div>Price:</div>
                </div>
            </div>
        </div>
        <div>
            <div class="index-item-third a">
                <a th:href="girl6">
                    <img src="/image/girl/girl6.webp" style="width:350px;height:200px; margin-left:150px">
                </a>
                <div class="index-item-third-one">
                    <div>Brand:</div>
                    <div>Category:</div>
                    <div>Size:</div>
                    <div>Price:</div>
                </div>
            </div>
            <div class="index-item-third b">
                <a th:href="girl7">
                    <img src="/image/girl/girl7.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-third-two">
                    <div>Brand:</div>
                    <div>Category:</div>
                    <div>Size:</div>
                    <div>Price:</div>
                </div>
            </div>
            <div class="index-item-third c">
                <a th:href="girl8">
                    <img src="/image/girl/girl8.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-third-three">
                    <div>Brand:</div>
                    <div>Category:</div>
                    <div>Size:</div>
                    <div>Price:</div>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="body-content">-->
<!--        <div>-->
<!--            <img src="/image/girl/girl1.webp" style="width:500px;height:300px; margin-left:190px">-->
<!--            <img src="/image/girl/girl2.webp" style="width:500px;height:300px; margin-left:40px">-->
<!--        </div>-->
<!--        <div>-->
<!--            <img src="/image/girl/girl3.webp" style="width:350px;height:200px; margin-left:150px">-->
<!--            <img src="/image/girl/girl4.webp" style="width:350px;height:200px; margin-left:40px">-->
<!--            <img src="/image/girl/girl5.webp" style="width:350px;height:200px; margin-left:40px">-->
<!--        </div>-->
<!--        <div>-->
<!--            <img src="/image/girl/girl6.webp" style="width:350px;height:200px; margin-left:150px">-->
<!--            <img src="/image/girl/girl7.webp" style="width:350px;height:200px; margin-left:40px">-->
<!--            <img src="/image/girl/girl8.webp" style="width:350px;height:200px; margin-left:40px">-->
<!--        </div>-->
<!--        <div>-->

<!--        </div>-->
<!--    </div>-->

</body>
</html>