<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>

    <h1 th:href="@{/css/techjobs.css}">Welcome, Shopping Clothing!</h1>

    <div th:replace="fragments :: page-header"></div>

    <div class="body-content">
        <div>
            <div class="index-item-first a">
                <a th:href="@{/man}">
                    <img src="/image/man/man10.webp" style="width:500px;height:300px; margin-left:190px">
                </a>
                <div class="index-item-first-one">
                    <div>Man's Clothing</div>
                </div>
            </div>
            <div class="index-item-first b">
                <a th:href="@{/woman}">
                    <img src="/image/woman/woman11.webp" style="width:500px;height:300px; margin-left:40px">
                </a>
                <div class="index-item-first-two">
                    <div>Woman's Clothing</div>
                </div>
            </div>
        </div>
        <div>
            <div class="index-item-second a">
                <a th:href="@{/man}">
                    <img src="/image/man/man9.webp" style="width:350px;height:200px; margin-left:150px">
                </a>
                <div class="index-item-second-one">
                    <div>Man's Clothing:</div>
                </div>
            </div>
            <div class="index-item-second b">
                <a th:href="@{/baby}">
                    <img src="/image/baby/baby9.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-second-two">
                    <div>Baby's Clothing</div>
                </div>
            </div>
            <div class="index-item-second c">
                <a th:href="@{/boy}">
                    <img src="/image/boy/boy10.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-second-three">
                    <div>Boy's Clothing</div>
                </div>
            </div>
        </div>
        <div>
            <div class="index-item-third a">
                <a th:href="@{/girl}">
                    <img src="/image/girl/girl10.webp" style="width:350px;height:200px; margin-left:150px">
                </a>
                <div class="index-item-third-one">
                    <div>Girl's Clothing</div>
                </div>
            </div>
            <div class="index-item-third b">
                <a th:href="@{/woman}">
                    <img src="/image/woman/woman9.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-third-two">
                    <div>Woman's Clothing</div>
                </div>
            </div>
            <div class="index-item-third c">
                <a th:href="@{/man}">
                    <img src="/image/man/man11.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-third-three">
                    <div>Man's Clothing</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
