<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>

    <h1 th:href="@{/css/techjobs.css}">Welcome, Shopping Clothing!</h1>

    <div th:replace="fragments :: page-header"></div>

    <div class="body-content">
        <div>
            <img src="/image/homeclothing.webp" style="width:500px;height:300px; margin-left:190px">
            <img src="/image/woman's three.webp" style="width:500px;height:300px; margin-left:40px">
        </div>
        <div>
            <img src="/image/man's one.jpeg" style="width:350px;height:200px; margin-left:150px">
            <img src="/image/baby's one.webp" style="width:350px;height:200px; margin-left:40px">
            <img src="/image/boy's one.webp" style="width:350px;height:200px; margin-left:40px">
        </div>
        <div>
            <img src="/image/woman's one.webp" style="width:350px;height:200px; margin-left:150px">
            <img src="/image/woman's two.webp" style="width:350px;height:200px; margin-left:40px">
            <img src="/image/man's two.webp" style="width:350px;height:200px; margin-left:40px">
        </div>
        <div>

        </div>
    </div>

</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="style.css">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<form class="search-box" action="action_page.php">-->
<!--    <input type="text" placeholder="Search.." name="search">-->
<!--    <button type="submit"><i class="fa fa-search"></i></button>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->