<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<h1 th:href="@{/css/techjobs.css}">Welcome, Shopping Clothing!</h1>

<div th:replace="fragments :: page-header"></div>

<div class="body-content">
    <div>
        <img src="/image/homeclothing.webp" style="width:500px;height:300px; margin-left:190px">
        <img src="/image/woman's three.webp" style="width:500px;height:300px; margin-left:40px">
    </div>
    <div>
        <img src="/image/man's one.jpeg" style="width:350px;height:200px; margin-left:150px">
        <img src="/image/baby's one.webp" style="width:350px;height:200px; margin-left:40px">
        <img src="/image/boy's one.webp" style="width:350px;height:200px; margin-left:40px">
    </div>
    <div>
        <img src="/image/woman's one.webp" style="width:350px;height:200px; margin-left:150px">
        <img src="/image/woman's two.webp" style="width:350px;height:200px; margin-left:40px">
        <img src="/image/man's two.webp" style="width:350px;height:200px; margin-left:40px">
    </div>
    <div>

    </div>
</div>
</body>

</html>