<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <h1 th:href="@{/css/techjobs.css}">Welcome, Man's Shop!</h1>

    <div th:replace="fragments :: page-header"></div>

    <div class="body-content">
        <div>
            <div class="index-item-first a">
                <a th:href="@{/product/man/Suit}">
                    <img src="/image/man/man1.webp" style="width:500px;height:300px; margin-left:190px">
                </a>
                <div class="index-item-first-one">
                    <div>Suit</div>
                </div>
            </div>
            <div class="index-item-first b">
                <a th:href="@{/product/man/T-Shirts}">
                    <img src="/image/man/man2.webp" style="width:500px;height:300px; margin-left:40px">
                </a>
                <div class="index-item-first-two">
                    <div>T-Shirts</div>
                </div>
            </div>
        </div>
        <div>
            <div class="index-item-second a">
                <a th:href="@{/product/man/Long Sleeves}">
                    <img src="/image/man/man3.webp" style="width:350px;height:200px; margin-left:150px">
                </a>
                <div class="index-item-second-one">
                    <div>LongSleeves</div>
                </div>
            </div>
            <div class="index-item-second b">
                <a th:href="@{/product/man/Sweat Shirts}">
                    <img src="/image/man/man4.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-second-two">
                    <div>Sweatshirts</div>
                </div>
            </div>
            <div class="index-item-second c">
                <a th:href="@{/product/man/Sport Shirts}">
                    <img src="/image/man/man5.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-second-three">
                    <div>Sportshirts</div>
                </div>
            </div>
        </div>
        <div>
            <div class="index-item-third a">
                <a th:href="@{/product/man/Polo}">
                    <img src="/image/man/man6.webp" style="width:350px;height:200px; margin-left:150px">
                </a>
                <div class="index-item-third-one">
                    <div>Polo</div>
                </div>
            </div>
            <div class="index-item-third b">
                <a th:href="@{/product/man/V-Neck}">
                    <img src="/image/man/man7.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-third-two">
                    <div>V-Neck</div>
                </div>
            </div>
            <div class="index-item-third c">
                <a th:href="@{/product/man/Pants}">
                    <img src="/image/man/man8.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-third-three">
                    <div>Pants</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>