<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <h1 th:href="@{/css/techjobs.css}">Welcome, Man's Shop!</h1>

    <div th:replace="fragments :: page-header"></div>

    <div class="body-content">
        <div>
            <img src="/image/man/man1.webp" style="width:500px;height:300px; margin-left:190px">
            <img src="/image/man/man2.webp" style="width:500px;height:300px; margin-left:40px">
        </div>
        <div>
            <img src="/image/man/man3.webp" style="width:350px;height:200px; margin-left:150px">
            <img src="/image/man/man4.webp" style="width:350px;height:200px; margin-left:40px">
            <img src="/image/man/man5.webp" style="width:350px;height:200px; margin-left:40px">
        </div>
        <div>
            <img src="/image/man/man6.webp" style="width:350px;height:200px; margin-left:150px">
            <img src="/image/man/man7.webp" style="width:350px;height:200px; margin-left:40px">
            <img src="/image/man/man8.webp" style="width:350px;height:200px; margin-left:40px">
        </div>
        <div>

        </div>
    </div>

</body>
</html>