<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <h1 th:href="@{/css/techjobs.css}">Welcome, Registration!</h1>

    <div th:replace="fragments :: page-header"></div>

    <form method="post" style="margin:100px">
        <div class="form-group">
<!--            <label style="padding-top:2px;">First Name-->
<!--                <input class="form-control" th:field="${registerFormDTO.firstname}" />-->
<!--            </label>-->
            <div style="padding-top:2px;">First Name</div>
            <input class="form-control" th:field="${registerFormDTO.firstname}" />
            <p class="error" th:errors="${registerFormDTO.firstname}"></p>
        </div>
        <div class="form-group">
<!--            <label>Last Name-->
<!--                <input class="form-control" th:field="${registerFormDTO.lastname}" />-->
<!--            </label>-->
            <div>Last Name</div>
            <input class="form-control" th:field="${registerFormDTO.lastname}" />
            <p class="error" th:errors="${registerFormDTO.lastname}"></p>
        </div>
        <div class="form-group">
<!--            <label>Email-->
<!--                <input class="form-control" th:field="${registerFormDTO.email}" />-->
<!--            </label>-->
            <div>Email</div>
            <input class="form-control" th:field="${registerFormDTO.email}" />
            <p class="error" th:errors="${registerFormDTO.email}"></p>
        </div>
        <div class="form-group">
<!--            <label>Username-->
<!--                <input class="form-control" th:field="${registerFormDTO.username}" />-->
<!--            </label>-->
            <div>Username</div>
            <input class="form-control" th:field="${registerFormDTO.username}" />
            <p class="error" th:errors="${registerFormDTO.username}"></p>
        </div>
        <div class="form-group">
<!--            <label>Password-->
<!--                <input class="form-control" th:field="${registerFormDTO.password}" type="password" />-->
<!--            </label>-->
            <div>Password</div>
            <input class="form-control" th:field="${registerFormDTO.password}" type="password" />
            <p class="error" th:errors="${registerFormDTO.password}"></p>
        </div>
        <div class="form-group">
<!--            <label>Verify Password-->
<!--                <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />-->
<!--            </label>-->
            <div>Verify Password</div>
            <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />
        </div>

        <input type="submit" class="btn-primary" value="Register" />
    </form>

</body>
</html>
