<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <h1 th:href="@{/css/techjobs.css}">Welcome, Shopping Cart!</h1>

    <div th:replace="fragments :: page-header"></div>

    <h2 style="margin:50px">Item</h2>

    <form method="post" th:href="@{/proceedtocheckout}">
        <div class="grid a">
            <table>
                <tr th:each="cartItem : ${cartItems}">
                    <td>
                        <img th:src="${'/image/' + cartItem.product.product_line + '/' + cartItem.product.image_file_name}" class="grid-item aa">
                    </td>
                    <td class="grid-item ab">
                        <p th:text="${'Brand: ' + cartItem.product.brand}"></p>
                        <p th:text="${'Category: ' + cartItem.product.category}"></p>
                        <p th:text="${'Size: ' + cartItem.product.size}"></p>
                    </td>
                    <td class="grid-item ac">
                        Price
                        <p class="price-p">
                            $<span class="price" th:data-cartitemid="${cartItem.id}" th:text="${cartItem.product.price}"></span>
                        </p>
                    </td>
                    <td class="grid-item ad">
                        Qty
                        <p><input type="text" th:data-cartitemid="${cartItem.id}" id="qty" name="qty[]" th:value="${cartItem.qty}" class="qty-input"/></p>
                    </td>
                    <td class="grid-item ae">
                        Extended Price
                        <p style="margin-top:20px">
                            $<span class="xprice" th:data-cartitemid="${cartItem.id}" th:text="${cartItem.product.price*cartItem.qty}"></span>
                        </p>
                        <div class="deleteItem" th:data-cartitemid="${cartItem.id}">
                                <i  class="fa fa-trash"></i>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="grid b">
            <div class="summary">Summary</div>
                <div class="grid-item-summary">
                    <div class="grid-item-summary a">
                        <div class="grid-item-summary-detail">Subtotal</div>
                        <div class="grid-item-summary-detail">Shipping</div>
                        <div class="grid-item-summary-detail">Order Total</div>
                    </div>
                    <div class="grid-item-summary b">
                        <div class="summarysubtotalbox-one">
                            $<span type="number" class="summarysubtotalbox" id="result" ></span>
                        </div>
                        <div class="shipping-price">
                            $<span type="number" class="shipping-price-number" id="shippingPrice">3.25</span>
                        </div>
                        <div class="summaryordertotalbox-one">
                            $<span type="number" class="summaryordertotalbox" id="grandTotal"></span>
                        </div>
                    </div>
                </div>
            </div>
        <div class="result">
            <div class="result-item b">
                <a th:href="@{/proceedtocheckout}" class="btn btn-primary" style="width:250px;">Proceed to Checkout</a>
            </div>
        </div>
    </form>
    <script>
$(document).ready(function() {
    $("input[data-cartitemid]").change()
});

$("input[data-cartitemid]").change(function() {
    var cartItemId = $(this).data("cartitemid")
    var price = parseFloat($('span.price[data-cartitemid="' + cartItemId + '"]')[0].innerText)
    var qty = this.value
    //If users enter a negative or decimal value, we only accept a positive integer.
    qty = Math.abs(Number.parseInt(qty))
    this.value = qty
    var xprice = price * qty
    //var xprice = (price * qty).toFixed(2)
    $('span.xprice[data-cartitemid="' + cartItemId + '"]')[0].innerText = Math.round(xprice*100)/100

    var dataToSave = { cartItemId: cartItemId, qty: qty }
    $.post("/saveCartItemQty", dataToSave, doneSavingChanges)
    calculateSum()
});

<!--function fmtCurrency(value) {-->
<!--    var thousands = Math.floor(value/1000)-->
<!--    var thouPreix = thousands > 0 ? thousands + "," : ""-->
<!--    var valueUnder1000 = value % 1000-->
<!--    var integersUnder1000 = Math.round(valueUnder1000*100)/100-->
<!--    console.log(integersUnder1000)-->
<!--    var paddedIntegersUnder1000 =  (integersUnder1000 + "").padStart(3, "0")-->
<!--    return thouPreix + paddedIntegersUnder1000-->
<!--}-->

function doneSavingChanges(result) {
    //alert(result)
    console.log (result)
}

function calculateSum() {
    var subtotal = 0;
    //iterate through each td based on class and add the values
    $(".xprice").each(function() {
        //add only if the value is number
        if (!isNaN(this.innerText) && this.innerText.length != 0) {
            subtotal += parseFloat(this.innerText);
        }
    });
    if (subtotal == 0) {
       alert("There is no item in the shopping cart. Navigate into homepage.")
       window.location = "/";
    }
    $('#result').text(numberWithCommas(subtotal));
    var shippingPriceOne = parseFloat($('#shippingPrice').text());
    var grandTotal = subtotal + shippingPriceOne;
    $('#grandTotal').text(numberWithCommas(grandTotal));
}

function numberWithCommas(number) {
    var parts = parseFloat(number).toFixed(2).toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return parts.join(".");
}

$(".deleteItem").click(function() {
    var cartItemId = $(this).data("cartitemid");
    var response = confirm('Are you sure you want to delete this item from your shopping cart?');
    $.post("/deleteItem", { cartItemId: cartItemId }, doneDeletingItem);
    //window.location = "shoppingcart";
});

function doneDeletingItem(result) {
    if (result == "success") {
        $(".fa-shopping-cart").click();
    } else {
        alert(result);
    }
}
    </script>
</body>
</html>

