<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<h1>Thank you for your shopping!</h1>
<h2 class="thanks">Your shopping has completed!</h2>

<!--<a th:href="@{/shop}" class="comebackhome">Come back Home</a>-->


    <a class="btn btn-primary-thanks" th:href="@{/shop}">Come back Home</a>
<!--<div class="comebackhome">-->
<!--    <input type="submit" class="btn-primary-placeorder" value="Come back Home" />-->
<!--</div>-->

</body>
</html>