<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <h1 th:href="@{/css/techjobs.css}">Welcome, Woman's Shop!</h1>

    <div th:replace="fragments :: page-header"></div>

    <div class="body-content">
        <div>
            <div class="index-item-first a">
                <a th:href="woman1">
                    <img src="/image/woman/woman1.webp" style="width:500px;height:300px; margin-left:190px">
                </a>
                <div class="index-item-first-one">
                    <div>Brand:</div>
                    <div>Category:</div>
                    <div>Size:</div>
                    <div>Price:</div>
                </div>
            </div>
            <div class="index-item-first b">
                <a th:href="woman2">
                    <img src="/image/woman/woman2.webp" style="width:500px;height:300px; margin-left:40px">
                </a>
                <div class="index-item-first-two">
                    <div>Brand:</div>
                    <div>Category:</div>
                    <div>Size:</div>
                    <div>Price:</div>
                </div>
            </div>
        </div>
        <div>
            <div class="index-item-second a">
                <a th:href="woman3">
                    <img src="/image/woman/woman3.webp" style="width:350px;height:200px; margin-left:150px">
                </a>
                <div class="index-item-second-one">
                    <div>Brand:</div>
                    <div>Category:</div>
                    <div>Size:</div>
                    <div>Price:</div>
                </div>
            </div>
            <div class="index-item-second b">
                <a th:href="woman4">
                    <img src="/image/woman/woman4.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-second-two">
                    <div>Brand:</div>
                    <div>Category:</div>
                    <div>Size:</div>
                    <div>Price:</div>
                </div>
            </div>
            <div class="index-item-second c">
                <a th:href="woman5">
                    <img src="/image/woman/woman5.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-second-three">
                    <div>Brand:</div>
                    <div>Category:</div>
                    <div>Size:</div>
                    <div>Price:</div>
                </div>
            </div>
        </div>
        <div>
            <div class="index-item-third a">
                <a th:href="woman6">
                    <img src="/image/woman/woman6.webp" style="width:350px;height:200px; margin-left:150px">
                </a>
                <div class="index-item-third-one">
                    <div>Brand:</div>
                    <div>Category:</div>
                    <div>Size:</div>
                    <div>Price:</div>
                </div>
            </div>
            <div class="index-item-third b">
                <a th:href="woman7">
                    <img src="/image/woman/woman7.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-third-two">
                    <div>Brand:</div>
                    <div>Category:</div>
                    <div>Size:</div>
                    <div>Price:</div>
                </div>
            </div>
            <div class="index-item-third c">
                <a th:href="woman8">
                    <img src="/image/woman/woman8.webp" style="width:350px;height:200px; margin-left:40px">
                </a>
                <div class="index-item-third-three">
                    <div>Brand:</div>
                    <div>Category:</div>
                    <div>Size:</div>
                    <div>Price:</div>
                </div>
            </div>
        </div>
    </div>

<!--<div class="body-content">-->
<!--    <div>-->
<!--        <img src="/image/woman/woman1.webp" style="width:500px;height:300px; margin-left:190px">-->
<!--        <img src="/image/woman/woman2.webp" style="width:500px;height:300px; margin-left:40px">-->
<!--    </div>-->
<!--    <div>-->
<!--        <img src="/image/woman/woman3.webp" style="width:350px;height:200px; margin-left:150px">-->
<!--        <img src="/image/woman/woman4.webp" style="width:350px;height:200px; margin-left:40px">-->
<!--        <img src="/image/woman/woman5.webp" style="width:350px;height:200px; margin-left:40px">-->
<!--    </div>-->
<!--    <div>-->
<!--        <img src="/image/woman/woman6.webp" style="width:350px;height:200px; margin-left:150px">-->
<!--        <img src="/image/woman/woman7.webp" style="width:350px;height:200px; margin-left:40px">-->
<!--        <img src="/image/woman/woman8.webp" style="width:350px;height:200px; margin-left:40px">-->
<!--    </div>-->
<!--    <div>-->

<!--    </div>-->
<!--</div>-->

</body>
</html>